.rectangle_marron{
    width: 70%;
    height: 50%;
    background-color: #7C1A0D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.connexion {
    resize: none;
    width: 50vh;
    height: 6vh;
    border: none;
    border-radius: 5vh;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    background-color: white;
}

.bouton{
    border-radius: 41.5px;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 15px 55px 15px 55px;
    font-size: 20px;
    border: none;
    margin: 2.5%;
}

.bouton-orange{
    background: #E35E40;
}

.bouton-blanc{
    background: #FFFF;
    color: black;
}

.barre_recherche{
    resize: none;
    width: 50vh;
    height: 6vh;
    border: none;
    border-radius: 5vh;
    text-align: center;
    font-size: 30px;
    background-color: white;
    background-image: url("img/loupe.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
}

.sous_header{
    width: 100%;
    height: 150px;
}

.confiserie-gerant{
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 30%;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5vh;
}

.info-confiserie{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: row;
    margin-left: 2vh;
    margin-bottom: 0;
}

.gestion-stock{
    display: flex;
    flex-direction: row;
    margin-left: 2vh;
}

.bouton-stock{
    width: max-content;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 15px 15px 15px 15px;
    text-align: center;
}

.bouton-vert{
    background-color: #5ABC58;
}

.bouton-rouge{
    background-color: #e42424;
}

.choix-nombre{
    width: 30%;
}

.img-confiserie{
    display: flex;
    align-items: center;
}

.delete-all{
    margin-top: 2vh;
}

.carte_produit{
    display: flex;
    width: 40%;
    background-color: #EDEDED;
    border-radius: 20px;
    background-color: #FF6F44;
}

.titre_description{
    font-weight: bold;
}
.photo_produit{
    background-color: #D9D9D9;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.produit{
    padding-left: 5px;
    padding-top: 10px;
}
.boutique-gerant{
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: max-content;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 5vh;
    padding: 15px 55px 15px 55px;
    margin: 2%;
}

.info-boutique{
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.info-boutique>*{
    width: 30vw;
}

.carte_boutique{
    background-color: #FF6F44;
    width: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo_boutique{
    padding-top: 10px;
    width: 80%;
    height: 10vw;
    background-color: #D9D9D9;
}

.adresse_boutique{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    padding: 2%;
    width: max-content;
    border-radius: 5vh;
    margin-left: 3%;
    margin-top: 3%;
}

.bloc-add{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.zone-texte {
    width: 30vh;
    height: 5vh;
    margin: 2vh;
    border: none;
    border-radius: 5vh;
}

.bouton_rectangle{
    background-color: #6F6F6F;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    text-align: center;
}

.bouton-selection{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.bloc-zone-texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carte-produit-gerant{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #EDEDED;
    border-radius: 20px;
    margin: 2%;
    height: 30vh;
}

.add-confiseries{
    background-color: #D9D9D9;
    padding: 2%;
    width: max-content;
    border-radius: 5vh;
    margin-left: 3%;
    margin-top: 3%;
}
