.rectangle_marron{
    width: 70%;
    height: 50%;
    background-color: #7C1A0D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

.rectangle_filtre{
    margin-left: -30px;
    width: 300px;
    height: 475px;
    background: #FE5B28;
    border-radius: 12px;
}

.connexion {
    resize: none;
    width: 50vh;
    height: 6vh;
    border: none;
    border-radius: 5vh;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    background-color: white;
}

.bouton{
    border-radius: 41.5px;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 15px 55px 15px 55px;
    font-size: 20px;
    border: none;
    margin: 2.5%;
}

.bouton-orange{
    background: #E35E40;
}

.bouton-blanc{
    background: #FFFF;
    color: black;
}

.barre_recherche{
    resize: none;
    width: 50vh;
    height: 6vh;
    border: none;
    border-radius: 5vh;
    text-align: center;
    font-size: 30px;
    background-color: white;
    background-image: url("img/loupe.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
}

.sous_header{
    width: 100%;
    height: 150px;
}

.confiserie-gerant{
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 30%;
    height: 40vh;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5vh;
}

.info-confiserie{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: row;
    margin-left: 2vh;
    margin-bottom: 0;
}

.gestion-stock{
    display: flex;
    flex-direction: row;
    margin-left: 2vh;
}

.bouton-stock{
    width: 5vh;
    height: 5vh;
    color: white;
    border-radius: 50%;
    border: none;
}

.bouton-vert{
    background-color: #5ABC58;
}

.bouton-rouge{
    background-color: #e42424;
}

.choix-nombre{
    width: 30%;
}

.img-confiserie{
    height: 100%;
    display: flex;
    align-items: center;
}

.delete-all{
    margin-top: 2vh;
}

.carte_produit{
    display: flex;
    width: 350px;
    height: 175px;
    background-color: #EDEDED;
    border-radius: 20px;
}

.titre_description{
    font-weight: bold;
}
.photo_produit{
    background-color: #D9D9D9;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.produit{
    padding-left: 5px;
    padding-top: 10px;
}
.boutique-gerant{
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 50%;
    height: 30vh;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 5vh;
}

.info-boutique{
    display: flex;
    flex-direction: column;
}

.carte_boutique{
    background-color: #EDEDED;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo_boutique{
    padding-top: 10px;
    width: 450px;
    height: 200px;
    background-color: #D9D9D9;
}

.adresse_boutique{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}