.rectangle_marron{
    width: 70%;
    height: 50%;
    background-color: #7C1A0D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

.rectangle_filtre{
    margin-left: -30px;
    width: 300px;
    height: 475px;
    background: #FE5B28;
    border-radius: 12px;
}

.connexion {
    resize: none;
    width: 50vh;
    height: 6vh;
    border: none;
    border-radius: 5vh;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    background-color: white;
}

.bouton{
    border-radius: 41.5px;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 15px 55px 15px 55px;
    font-size: 20px;
    border: none;
    margin: 2.5%;
}

.bouton-orange{
    background: #E35E40;
}

.bouton-blanc{
    background: #FFFF;
    border: 1px solid grey;
    color: black;
}

.barre_recherche{
    resize: none;
    width: 50vh;
    height: 6vh;
    border: none;
    border-radius: 5vh;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    background-color: white;
    background-image: url("img/loupe.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
}

/* .input{
    border-radius: 41.5px;
    color: white;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    border: none;
    background: #FFFF;
    border: 1px solid grey;
    color: black;
    margin-left: 150px;
    margin-top: 30px;
}

.bouton{
    border-radius: 41.5px;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 10px 50px 10px 50px;
    font-size: 20px;
    border: none;
}

.bouton-blanc{
    background: #FFFF;
    border: 1px solid grey;
    color: black;
}  */